<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-button fill="clear" size="large" (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="large" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Create App</ion-title>
  </ion-header>

<ion-content padding center text-center>
  <ion-list>
    <div id="new-div">
      <ion-button shape="round" color="success" expand="block" href="/createapp">
        <ion-icon name="add-outline"></ion-icon>Create App
      </ion-button>
    </div>
  </ion-list>
</ion-content>
